.aio-snack-bar {
  position: fixed;
  z-index: 100;
  width: -webkit-fill-available;
  height: 1.1rem;
  margin: 0 0.2rem;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 0.02rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.1rem;
}

.aio-snack-bar__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aio-snack-bar__icon {
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.3rem;
}
.aio-snack-bar__icon img {
  width: 100%;
}

.aio-snack-bar__content {
  flex: 1;
  display: block;
  margin: 0 0.2rem;
  font-family: PingFangSC-Medium;
  font-size: 0.26rem;
  color: #ffffff;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.aio-snack-bar__button {
  background: #fe350e;
  border-radius: 0.3rem;
  font-family: PingFangSC-Semibold;
  font-size: 0.28rem;
  color: #ffffff;
  text-align: center;
  width: 1.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  margin-right: 0.5rem;
}

.aio-snack-bar__close {
  position: absolute;
  display: block;
  width: 0.36rem;
  height: 0.36rem;
  right: 0.06rem;
  top: 0.06rem;
  background-size: 100%;
  background-image: url(./img/close.png);
}