.aio_listen_feed {
  margin: 0 0.3rem;
  padding-bottom: 0.2rem;
}
.aio_listen_row {
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 0;
}
.aio_listen_row_img {
  position: relative;
  margin-right: 0.3rem;
}
.aio_listen_row_img .img_width {
  width: 1.62rem;
  height: 1.62rem;
  border-radius: 0.16rem;
  object-fit: cover;
  z-index: 1;
}
.aio_listen_row_img::after {
  content: '';
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.5;
  background: #e4e4e4;
  border-radius: 0.2rem;
  right: -0.1rem;
  top: 50%;
  transform: translateY(-50%);
}
.aio_listen_row_flex {
  flex: 1;
  width: 0;
}
.aio_listen_row_tit,
.aio_listen_row_intro {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.32rem;
  color: #111111;
  margin-bottom: 0.08rem;
}
.aio_listen_row_intro {
  font-size: 0.24rem;
  color: #888888;
}
.aio_listen_row_data {
  flex-direction: row;
  align-items: center;
  font-size: 0.22rem;
  color: #888888;
}
.aio_listen_row_data::before {
  content: '';
  width: 0.24rem;
  height: 0.2rem;
  background: url(./img/ic_listen.png) center/contain no-repeat;
  margin-right: 0.13rem;
}
